<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://file-uploads.teachablecdn.com/96e44e884a324e76ab12eeb08cbc2ba1/7db81cf7f2f343f183db201978e9c146">
    <!-- Bootstrap CDNs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Dashboard Css -->
    <link rel="stylesheet" href="./utils/dashboard.css">
    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-primary p-0">
        <a href="#" class="navbar-brand ml-5 " ><img src="https://promit-revar.github.io/Quizer.png" height="65px"></a>
        <div class="container">
            
        <div></div>
        
            <ul class="nav navbar dropdown ">
                <li>
            <button class="bg-primary btn mr-5  mb-0" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://picsum.photos/200" alt="profile pic" style="border-radius: 50%;" height="30px">
                <div class="dropdown-menu" id="dropdown" aria-labelledby="profile">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Manage Subscriptions</a>
                    <a class="dropdown-item" href="#">Add / Change Credit Card</a>
                    <a class="dropdown-item" href="#">Address</a>
                    <a class="dropdown-item" href="#">Contact</a>
                    <a class="dropdown-item" id="logout" href="#">Logout</a>
                </div>
            
            </button>
        </li>
        </ul>
    </div>
    </nav>
    <h1> Harry Potter Quiz </h1>

    <div class="container main">
        <div class="row"> 
        <div class="col-md-12 course-filter p-2" ><form method="post" id="Quiz" name="QuizForm"><div class="form-group row">
        <div class="col-xs-2 mx-auto">
          
          <p class="form-control" id="ex1" type="text" >Test 1</p>
        </div>
        
        </div>
            <div>
            <p type="number" name="pts0" class="mb-3 pull-right ml-5 form-control col-1" id="pts0">1</p>
        </div>
        <div class="btn-group pull-right">
            <div class="filter-label">Question Type</div>
            <select class="ml-0 btn btn-default btn-lg btn-course-filter dropdown-toggle p-0" name="QT" id="QT"> 
                <option value="MCQ">
                    MCQ
                </option>
                
            </select>
        </div>
                
                Question 1: <p type="text" name="Q" class="form-control mt-3 input-lg"><%= questions[0]["Q1"] %></p><br>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="a"><p type="text" name="optionsa1" class="form-control ml-2"><%= questions[0].a %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="b"><p type="text" name="optionsb1" class="form-control ml-2"><%= questions[0].b %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="c"><p type="text" name="optionsc1" class="form-control ml-2"><%= questions[0].c %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="d"><p type="text" name="optionsd1" class="form-control ml-2"><%= questions[0].d %></p></div> 
                Question 2: <p type="text" name="Q" class="form-control mt-3 input-lg"><%= questions[1]["Q1"] %></p><br>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="a"><p type="text" name="optionsa1" class="form-control ml-2"><%= questions[1].a %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="b"><p type="text" name="optionsb1" class="form-control ml-2"><%= questions[1].b %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="c"><p type="text" name="optionsc1" class="form-control ml-2"><%= questions[1].c %></p></div>
                <div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="d"><p type="text" name="optionsd1" class="form-control ml-2"><%= questions[1].d %></p></div> 
                <button type="submit" class="btn btn-default btn-success pull-right">Submit</button></form></div></div></div>
</body>
</html>